black==22.10.0
crispy-bootstrap5==0.7
Django==4.1.7
django-allauth==0.52.0
django-crispy-forms==1.14.0
django-extensions==3.2.1
channels==3.0.5
cloudinary==1.32.0
ipython==8.7.0
psycopg2
pytest-cov==4.0.0
pytest-django==4.5.2
names==0.3.0
folium==0.14.0
geoip2==4.6.0
geopy==2.3.0
pyOpenSSL
uvicorn[standard]
python-dotenv
