{% extends "base.html" %}
{% block title %} Chat with {{receiving_user.username}} {% endblock %}
{% block content %}
<h1>Lets chat!</h1>
<h3>You are chatting with {{ receiving_user.username.title }}</h3>

<!-- Main div that will be changed by JS
we populate the div with the data preloaded from the view
we check for alignment by username -->
<div id="chat_messages_div" style="display: flex; justify-content: center; align-items: center; flex-direction:
    column; width: 40vw; max-height: 30vh; overflow-y: scroll; word-wrap: break-word;
    background-color: lightgray; border: 2px solid black; margin-bottom: 10px;">
    {% for chat in all_chats %}
    {% if chat.user.username == request.user.username %}
    <div style="text-align: right; width: 100%;">
        <div>({{ chat.sent_date.time }}) Me</div>
        <div>{{ chat.message }}</div>
    </div>
    {% else %}
    <div style="text-align: left; width: 100%;">
        <div>{{ chat.user.username }} ({{ chat.sent_date.time }})</div>
        <div>{{ chat.message }}</div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- Input field for the chat message -->
<form id="form" style="display: flex; justify-content: center; align-items: center; width: 38vw;">
    <p>Message: </p>
    <input type="text" name="message" style="width: 90%;" maxlength="250" />
</form>

<!-- JS to scroll the div to the latest entry -->
<script>
    var chat_messages_div = document.getElementById("chat_messages_div");
    chat_messages_div.scrollTop = chat_messages_div.scrollHeight;
</script>

<!-- Main JS to change the div id="chat_messages_div" -->
<script type="text/javascript">
    // define the websocket url
    let url = `ws://${window.location.host}/ws/chat/`
    // open the websocket
    const chatSocket = new WebSocket(url)

    // here we receive the msg from the backend and
    // send the message to the div id="chat_messages_div"
    chatSocket.onmessage = function (event) {
        let data = JSON.parse(event.data)
        if (data.type === 'chat') {
            const chatMessagesDiv = document.getElementById("chat_messages_div");
            function addMessage(message, message_pk, align) {
                if (message_pk != null) {
                    let sending_user_pk = '{{ sending_user.pk }}'
                    let sending_user = '{{ sending_user.username }}'
                    if (sending_user == "") {
                        sending_user = 'Anonymous'
                        sending_user_pk = 'None'
                    }
                    let receiving_user_pk = '{{ receiving_user.pk }}'
                    let receiving_user = '{{ receiving_user.username }}'
                    if (receiving_user == "") {
                        receiving_user = 'Anonymous'
                        receiving_user_pk = 'None'
                    }
                    // send message_pk to backend to mark message as received/seen
                    chatSocket.send(JSON.stringify({
                        'was_seen': true,
                        'message_pk': message_pk,
                        'message': message,
                        'sending_user_pk': sending_user_pk,
                        'sending_user': sending_user,
                        'receiving_user_pk': receiving_user_pk,
                        'receiving_user': receiving_user,
                    }))
                    let data = JSON.parse(event.data)
                }
                const messageDiv = document.createElement("div");
                messageDiv.style.textAlign = align;
                messageDiv.style.width = "100%";
                messageDiv.innerText = message;
                chatMessagesDiv.appendChild(messageDiv);
                chatMessagesDiv.scrollTop = chatMessagesDiv.scrollHeight;

            }
            if (data.sending_user === '{{ request.user.username }}') {
                addMessage("(" + data.message_sent_time + ") " + "Me", null, 'right');
                addMessage(data.message, data.message_pk, 'right');
            } else {
                addMessage(data.sending_user + " (" + data.message_sent_time + ")", null, 'left');
                addMessage(data.message, data.message_pk, 'left');
            }
        }
    }

    // here we send the message and meta data to the backend
    let form = document.getElementById('form')
    form.addEventListener('submit', (event) => {
        event.preventDefault()
        let message = event.target.message.value
        let sending_user_pk = '{{ sending_user.pk }}'
        let sending_user = '{{ sending_user.username }}'
        if (sending_user == "") {
            sending_user = 'Anonymous'
            sending_user_pk = 'None'
        }
        let receiving_user_pk = '{{ receiving_user.pk }}'
        let receiving_user = '{{ receiving_user.username }}'
        if (receiving_user == "") {
            receiving_user = 'Anonymous'
            receiving_user_pk = 'None'
        }
        chatSocket.send(JSON.stringify({
            'message': message,
            'sending_user_pk': sending_user_pk,
            'sending_user': sending_user,
            'receiving_user_pk': receiving_user_pk,
            'receiving_user': receiving_user,
        }))
        form.reset()
    })
</script>
{% endblock %}
