{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}

<div class="about-main container-flex">
    <div class="row">
        <div class="col-md-12">
            <div class="about-bg">
                <div class="text-overlay-container">
                    <div class="about-text-overlay">
                        <div class="about-inner-text">
                            <h1>Welcome to HotSox! :P</h1>
                            <p>The ultimate destination for sock enthusiasts and environmental crusaders.</p>
                            <p>Are you tired of constantly losing your favorite socks to the abyss known as the laundry machine?
                                Are you sick of buying new socks only to have them disappear within a week? Well, my friend,
                                you've come to the right place.
                            </p>
                            <p>At HotSox, we believe that every sock deserves a loving home and even more loving match, and
                                we're on a mission to reunite lost socks with their rightful owners.
                                Our state-of-the-art matching system uses advanced algorithms to connect sock owners with
                                their missing mates. Plus, by keeping your socks together, you'll be doing your part to save the
                                environment. Think about all the resources that go into making new socks. It's like a hug for
                                the planet.</p>
                            <p>But we're not just about socks, we're about community. Our website features a forum where you can
                                connect with other sock enthusiasts, share tips and tricks for keeping your socks together, and
                                even organize sock-themed meetups.</p>
                            <p>So why wait? Join the sock revolution today and never lose a sock again. And remember, together
                                we can make the world a better place, one sock at a time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
