{% extends "base.html" %}
{% block title %} Swipe some socks {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-4">
            <h1>Let the swiping begin!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-4">
            <ul class="list-inline flex-center">
                {% for sock in user_socks %}
                <li class="col-6 col-sm3 list-inline-item select-sock flex-center">
                    <form action="" method="POST" class="flex-center">
                        {% csrf_token %}
                        <input type="hidden" name="change_sock" value="{{ sock.pk }}">
                        <button class="col-6 col-sm3 flex-center btn-img-hide">
                            {% if sock.get_picture_urls.0 %}
                            <img class="select-sock-pic" src="{{ sock.get_picture_urls.0 }}" alt="">
                            {% else %}
                            <p>{{sock.info_name}}</p>
                            {% endif %}
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row swipe-panel">
        <div class="col-md-4">
            {% if sock %}
            <form action="" method="POST" class="flex-center">
                {% csrf_token %}
                <input type="hidden" name="sock_pk" value="{{sock.pk}}">
                <input type="hidden" name="decision" value="dislike">
                <button class="btn-img-hide" onclick="this.disabled=true,this.form.submit();"><img src="/static/no.png"
                        alt="dislike" class="swipe-button"></button>
            </form>
            {% endif %}
        </div>
        <div class="col-md-4 ">
            {% if sock %}
            {% if sock.get_picture_urls %}
            <img src="{{ sock.get_picture_urls.0 }}" alt="" class="sock-img">
            {% else %}
            <p>No sock picture found :( !</p>
            {% endif %}
            {% else %}
            <img src="/static/sad_face.jpg" alt="" class="sock-img">
            <p>No more socks currently available!</p>
            {% endif %}
        </div>

        <div class="col-md-4">
            {% if sock %}
            <form action="" method="POST" name="swipe-yes" class="flex-center">
                {% csrf_token %}
                <input type="hidden" name="sock_pk" value="{{sock.pk}}">
                <input type="hidden" name="decision" value="like">
                <button class="btn-img-hide" onclick="this.disabled=true,this.form.submit();"><img src="/static/yes.png"
                        alt="like" class="swipe-button"></button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="row swipe-panel">
        <div class="col-md-4 offset-4">
            <h2 class="center">{{ sock.info_name }}</h2>
            <p class="center">{{ sock.info_about }}</p>
        </div>
    </div>
</div>

{% endblock %}
