.container-fluid {
    margin-top: 1rem;
}


.btn {
    display: block;
    width: 115px;
    height: 32px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    /* display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-content: end;
    height: 20rem;  */
}

.card-img-top {
    max-height: 250px;
}
.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-color: #ccc;
    border-width: 1px;
    /* border-radius: 50%; */
    margin: 0 auto;
}

.circle-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    width: 60%;

}
.arrow-container {
    height: 100%;
    position:fixed;
    margin-top: 10rem;
}

.plus-btn {
    flex-direction: row;
    display: block;
    width: 75px;
    height: 75px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 10px;
    text-align: center;

}

.plus-btn:hover {
    background: white;
    color: #4E9CAF;
    justify-content: center;
}

.card-center {
    flex-direction: row;
}

.hidden {
    color: transparent;

}

#id_profile_picture {
    display: none;
}

.btn-img-hide {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-color: transparent;
}

.btn-img-hide:hover {
    transform: scale(1.05);
}
