.container-fluid {
    margin-top: 1rem;
}

.center {
    text-align: center;
}

.flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    /* display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-content: end;
    height: 20rem;  */
}

.card-img-top {
    max-height: 250px;
}
.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sandstone, .tooltip, .dropdown-menu .dropdown-item, .pagination, .breadcrumb, .nav-pills .nav-link, .nav-tabs .nav-link, .navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-color: #ccc;
    border-width: 1px;
    /* border-radius: 50%; */
    margin: 0 auto;
}

.circle-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    width: 60%;

}
.arrow-container {
    height: 100%;
    position:fixed;
    margin-top: 10rem;
}

.plus-btn {
    flex-direction: row;
    display: block;
    width: 75px;
    height: 75px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 10px;
    text-align: center;

}

.plus-btn:hover {
    background: white;
    color: #4E9CAF;
    justify-content: center;
}

.card-center {
    flex-direction: row;
}

.hidden {
    color: transparent;

}

#id_profile_picture {
    display: none;
}

.btn-img-hide {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
}

.btn-img-hide:hover {
    transform: scale(1.05);
}

.swipe-panel {
    margin-top: 5rem;
    display:flex;
    align-items: center;

}

.swipe-button {
    height: 50%;
    width: 50%;
}

.sock-img {
    height: 100%;
    width: 100%;
}




/*  Swipe page */
.select-sock {
    max-width: 33%;
    height:5rem;
}

.select-sock-pic {
    width: 100%%;
    height: 100%;
}

.grey {
    background-color: rgb(242, 237, 237);

}

.fa-brands {
    font-size: 165%;
}

.card {
    max-width: 100%;
}
.card-text {
    word-wrap: break-word;
}