
.btn {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 10px;
}

/* .info-container {
    border: solid;
    border-width: 1px;
    border-color: black;
} */

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn {
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    /* border-style: solid; */
    border-color: #ccc;
    border-width: 1px;
    /* border-radius: 50%; */
    margin: 0 auto;
}

.circle-img {
    /* background: url(https://res.cloudinary.com/ddvfqbtpr/image/upload/v1673640500/oud1slcn7fczdlwezvbj.png) no-repeat center center; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    /* justify-content: center; */
}