black==22.10.0
crispy-bootstrap5==0.7
channels==3.0.5
cloudinary==1.32.0
celery
django-celery-results
Django==4.2
django-allauth==0.52.0
django-crispy-forms==1.14.0
django-extensions==3.2.1
djangorestframework
drf-spectacular[sidecar]
djangorestframework-simplejwt[crypto]
folium==0.14.0
geoip2==4.6.0
geopy==2.3.0
ipython==8.7.0
names==0.3.0
psycopg2
pytest-cov==4.0.0
pytest-django==4.5.2
pyOpenSSL
python-dotenv
Redis
uvicorn[standard]
