{% extends "user_base.html" %}
{% block title %} {{ user.username.title }}'s sock - {{ sock.info_name }}' {% endblock %}
{% load crispy_forms_tags %}
{% block user_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if sock %}
            <h3>Edit {{sock.info_name.title}}'s profile</h3>
            {% else %}
            <h3>Add a new sock!</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="post" action="">
                {% csrf_token %}
                {{ form_sock_profile|crispy }}
                <button class="btn" type="submit">Store profile</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
