{% extends "user_base.html" %}
{% block title %} {{ sock.info_name }} {% endblock %}
{% load crispy_forms_tags %}
{% block user_content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-4">
            <h3>{{sock.info_name.title}}'s Pictures</h3>
        </div>
        <div class="col-md-12 mt-3">
            {% if user.get_socks %}
            <p>Here is an overview of {{sock.info_name.title}}'s pictures. </p>
            {% else %}
            <p>You do not currently have any photos of {{sock.info_name.title}}. Click on the + button below to add one!
            </p>
            {% endif %}
            <p>Uploading a new photo is automatic once you have selected a file and takes a few seconds to complete</p>
        </div>
    </div>
    <div class="row">
        {% for picture in profile_picture_query_set %}
        {% if picture %}
        <div class="col-3">
            <div class="card text-center">
                <img src="{{picture.profile_picture.url}}" alt="" class="card-img-top">
                <div class="card-body">
                    <button class="btn card-btn delete-button" data-bs-toggle="modal"
                        data-bs-target="#deletePicModal-{{ picture.pk }}"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- The Modal -->
        <div class="modal fade" id="deletePicModal-{{ picture.pk }}" aria-labelledby="deletePicModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deletePicModalLabel">For sock sake, so bad ?!</h4>
                    </div>
                    <div class="modal-body">Do you really want to delete this picture from the socks account?</div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal">Keep the picture</button>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="method" value="delete">
                            <input type="hidden" name="picture_pk" value="{{picture.pk}}">
                            <button class="btn delete-button">Delete the picture</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- add profile picture -->
        <div class="col-3">
            <div class="card text-center">
                <form method="POST" action="" enctype="multipart/form-data">
                    <label for="id_profile_picture" class="plus-btn"><i class="fa-solid fa-plus"></i></label>
                    {{ form_sock_profile_picture }}
                </form>
                <script>
                    document.querySelector("#id_profile_picture").addEventListener("change", async function () {
                        const file = this.files[0];
                        const formData = new FormData();
                        formData.append("profile_picture", file);
                        formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
                        formData.append("method", 'add');
                        await fetch("{% url 'app_users:sock-picture' %}", {
                            method: "POST",
                            body: formData,
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',
                            }
                        });
                        window.location.reload();
                    });
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
