<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %} Hotsox {% endblock %}</title>
</head>

<body>
    <!--Nav-->
    <nav class="navbar navbar-light navbar-expand-sm bg-light">
        <a href="{% url 'app_home:index' %}" class="navbar-brand">
            HotSox</a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item mr-2"><a class="nav-link" href="{% url 'app_home:swipe' %}">Swipe!</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item mr-2"><a class="nav-link" href="{% url 'app_users:user-matches' %}">My Matches</a></li>
                {% endif %}
                <li class="nav-item mr-2"><a class="nav-link" href="{% url 'app_home:about' %}">About</a></li>

                {% if request.user.is_authenticated %}
                <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="/user/logout/">Sign Out</a></li>
                <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link"
                        href="{% url 'app_users:user-profile-details' %}">Profile</a></li>
                {% else %}
                <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="/user/login/">Sign In</a></li>
                <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="/user/signup/">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="d-none d-md-block">
            {% if request.user.is_authenticated %}
            <p class="navbar-text my-auto mr-2"><i>{{request.user.username.title}} is Sockin'n'Rollin'!</i></p>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="text-decoration: none;">
                <img style="width: 60px; border-radius: 50%;" src="{{ request.user.get_picture_urls.0 }}"><b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" style="font-size:120%;">
                <li><a href="{% url 'app_users:user-profile-details' %}">My Profile</a></li>
                <li><a href="{% url 'app_users:sock-overview' %}">My Socks</a></li>
                <li><a href="{% url 'app_users:user-matches' %}">My Matches</a></li>
                <li><a href="/user/logout/">Log out</a></li>
            </ul>
            {% else %}
            <p class="navbar-text my-auto mr-2"><i>Wanna ramp up a sockin' life?</i></p>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/user/login/">Sign In</a></li>
                <li><a href="/user/signup/">Sign Up</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}

    <footer></footer>
    <script src="https://kit.fontawesome.com/4a9fb983cf.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>
