{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 offset-2">
            {% if left_arrow_go_to_url %}
            <a href="{{ left_arrow_go_to_url }}">
                <div class="arrow-container">
                    <img src="/static/left_arrow.png" class="arrow" alt="">

                </div>
            </a>
            {% endif %}
        </div>

        <div class="col-xl-6 ">
            {% block user_content %}
            {% endblock %}
        </div>

        <div class="col-md-1">
            {% if right_arrow_go_to_url %}
            <a href="{{ right_arrow_go_to_url }}">
                <div class="arrow-container">
                    <img src="/static/right_arrow.png" class="arrow" alt="">
                    <span>{% block right_arrow_content %} {% endblock %}</span>
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
