{% extends 'user_base.html' %}
{% block title %} Profile {% endblock %}

{% block user_content %}

<h3>{{user.username.title}}'s Profile</h3>

<div class="circle-container">
    {% if user.get_all_pictures.0 %}
    <div class="circle-img">
        <a href="{% url 'app_users:user-profile-picture' %}">
            <img src="{{ user.get_picture_urls.0 }}" alt="">
        </a>
    </div>
    {% else %}
    <a href="{% url 'app_users:user-profile-picture' %}" class="btn">Add Picture</a>
    {% endif %}
</div>

<div class="row">
    <div class="col-md">
        {% for key, value in user.to_json.items %}
        {% if value %}
        <p><strong>{{ key.title }}:</strong> {{ value }}</p>
        {% endif %}
        {% endfor %}
    </div>
</div>


{{ map|safe }}

{% endblock %}
