{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{{user.username.title}}'s Profile Pictures</h3>
        </div>
    </div>
    <!-- to be completed with appropriate path to photo -->
    {% for photo in profile_picture_query_set %}
        <img src="{{ photo.profile_picture.url }}" alt="">
    {% endfor %}

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method=“POST” action=“” enctype=“multipart/form-data”>
                {% csrf_token %}
                {{ form_user_profile_picture.as_p }}
                <button class="btn btn-signup right" type="submit">Save Picture</button>
            </form>
        </div>
        <div class="col-md-8 mt-3 offset-md-2">
            <a href="{% url 'app_users:user-profile-details' %}" class="btn">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}
