{% extends "user_base.html" %}
{% load crispy_forms_tags %}
{% block title %} Profile Pictures {% endblock %}
{% block user_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-4">
        <h3>{{user.username.title}}'s Profile Pictures</h3>
        </div>
        <div class="col-md-12 mt-3">
        {% if user.get_picture_urls %}
        <p>Here is an overview of your profile pictures. Click on the + button below to add more!</p>
        {% else %}
        <p>You do not currently have any profile pictures. Click on the + button below to add one!</p>
        {% endif %}
        <p>Uploading a new photo is automatic once you have selected a file and takes a few seconds to complete</p>
        </div>
    </div>

    <div class="row">
        {% for picture in profile_picture_query_set %}
        {% if picture %}
        <div class="col-3">
            <div class="card text-center">
                <img src="{{picture.profile_picture.url}}" alt="" class="card-img-top">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="method" value="delete">
                        <input type="hidden" name="picture_pk" value="{{picture.pk}}">
                        <button class="btn card-btn delete-button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Too bad ?!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">Do you really want to delete this picture?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="confirm-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var deleteButton = document.querySelectorAll(".delete-button");
            deleteButton.forEach(function (deleteButton) {
                deleteButton.addEventListener("click", function (event) {
                    event.preventDefault();
                    var form = event.target.closest("form");
                    $('#myModal').modal();
                    document.getElementById("confirm-delete").onclick = function () {
                        form.submit();
                    }
                });
            });
        </script>

        <!-- add profile picture -->
        <div class="col-3">
            <div class="card text-center">
                <div class="card-body card-center align-self-center">
                    <button class="plus-btn"><i class="fa-solid fa-plus"></i>
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span class="hidden">{{ form_user_profile_picture }}</span>
                        </form>
                        <script>
                            document.querySelector("#id_profile_picture").addEventListener("change", async function () {
                                const file = this.files[0];
                                const formData = new FormData();
                                formData.append("profile_picture", file);
                                formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
                                formData.append("method", 'add');
                                await fetch("{% url 'app_users:user-profile-picture' %}", {
                                    method: "POST",
                                    body: formData,
                                    headers: {
                                        'X-CSRFToken': '{{ csrf_token }}',
                                    }
                                });
                                window.location.reload();
                            });
                        </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
