{% extends 'user_base.html' %}
{% block title %} Matches {% endblock %}

{% block user_content %}

<h3>{{user.username.title}}'s Matches</h3>

<div class="row">
    <div class="col-md">
        {% if user_matches %}
        <p>Your matches:</p>
        {% for match in user_matches %}
        {% if match.user == request.user %}
        <a href="/chat/{{ match.other.username }}">
            <p>{{ match.other.username }}</p>
        </a>
        {% else %}
        <a href="/chat/{{ match.user.username }}">
            <p>{{ match.user.username }}</p>
        </a>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>Sorry, you do not have any matches</p>
        {% endif %}
    </div>
</div>


{% endblock %}
