{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Signup {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Sign Up</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="post" action="">
                {% csrf_token %}
                {{ form_user_profile|crispy }}
                <button class="btn btn-signup right" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
