{% extends "user_base.html" %}
{% block title %} {{ user.username.title }}'s sock - {{ sock.info_name }}' {% endblock %}
{% block content %}

    <div class="row">
        {% for picture in profile_picture_query_set %}
        {% if picture %}
        <div class="col-3">
            <div class="card text-center">
                <img src="{{picture.profile_picture.url}}" alt="" class="card-img-top">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="method" value="delete">
                        <input type="hidden" name="picture_pk" value="{{picture.pk}}">
                        <button class="btn card-btn">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- add profile picture -->
    <div class="row">
        <div class="col-md-12 mt-3">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_sock_profile_picture|crispy }}
                <input type="hidden" name="method" value="add">
                <!--<button class="btn btn-signup right" type="submit">Save Picture</button>-->

                <script>
                    document.querySelector("#id_profile_picture").addEventListener("change", async function () {
                        const file = this.files[0];
                        const formData = new FormData();
                        formData.append("profile_picture", file);
                        formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
                        formData.append("method", 'add');
                        await fetch("{% url 'app_users:sock-profile-picture' %}", {
                            method: "POST",
                            body: formData,
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',
                            }
                        });
                        window.location.reload();
                    });

                </script>
            </form>
        </div>
        <div class="col-md-12 mt-3">
            <a href="{% url 'app_users:sock-details' %}" class="btn">Done</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
