{% extends "user_base.html" %}
{% block title %} {{ user.username.title }}'s socks' {% endblock %}
{% block user_content %}

<div class="row">
    {% for sock in user.get_socks %}
    {% if sock %}
    <div class="col-3">
        <div class="card text-center">
            <a href="{% url 'app_users:sock-details' sock.pk %}">
                <img src="{{sock.get_picture_urls.0}}" alt="" class="card-img-top">
                <p>{{sock.info_name}}</p>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
