# name of our workflow
name: Django CI Workflow

# triggers for our workflow
on:
  [push]
  # any code pushed to master and develop branch will also be a trigger
  # push:
  # branches:
  #   - main
  #   - master
  #   - develop

# two job definition
jobs:
  health-check-job: # health check job for testing and code formatting check
    runs-on: ubuntu-latest # os for running the job
    services:
      postgres: # we need a postgres docker image to be booted a side car service to run the tests that needs a db
        image: postgres
        env: # the environment variable must match with app/settings.py if block of DATBASES variable otherwise test will fail due to connectivity issue.
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github-actions
        ports:
          - 5432:5432 # exposing 5432 port for application to use
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Checkout code # checking our the code at current commit that triggers the workflow
        uses: actions/checkout@v2
      - name: Cache dependency # caching dependency will make our build faster.
        uses: actions/cache@v2 # for more info checkout pip section documentation at https://github.com/actions/cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Setup python environment # setting python environment to 3.x
        uses: actions/setup-python@v2
        with:
          python-version: "3.x" # if you want multiple python version run just use matrix strategy in job config. See the documentation of GitHub Actions
      - name: Check Python version # checking the python version to see if 3.x is installed.
        run: python --version
      - name: Install requirements # install application requirements
        run: pip install -r requirements.txt
      - name: Run Database MakeMigrations # run migrations to create table in side car db container
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          GOOGLE_SECRET: ${{ secrets.GOOGLE_SECRET }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        run: python manage.py makemigrations
      - name: Run Database Migrations # run migrations to create table in side car db container
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          GOOGLE_SECRET: ${{ secrets.GOOGLE_SECRET }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        run: python manage.py migrate
      - name: Run Django Unittests # running tests
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          GOOGLE_SECRET: ${{ secrets.GOOGLE_SECRET }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        # run: python manage.py test
        run: pytest
      - name: Check pep8 with black
        run: python -m black --check .

  # package-job: # package job for building and publishing docker images
  #   runs-on: ubuntu-latest
  #   needs: [health-check-job] # will be fired if and only if health-check-job is passed.
  #   if: ${{ github.event_name == 'push' }} # will be fired if the trigger event is a push event.
  #   steps:
  #     - name: Checkout Code # checking out code.
  #       uses: actions/checkout@v2
  #     - name: Build & Publish Image # we are using a public GitHub Action to build and publish docker image to our GCR registry.
  #       uses: docker/build-push-action@v1
  #       env:
  #         app_name: app
  #       with:
  #         username: _json_key # default for gcr.io
  #         password: ${{ secrets.GKE_PASSWORD }} # service account file to be set as secret
  #         registry: gcr.io # gcr registry domain
  #         repository: ${{secrets.GKE_PROJECT}}/github-django-actions/app # GKE_PROJECT is out GCP Project id to be set as secret.
  #         tag_with_sha: true # this will tag our image with commit id. For example our image our be gcr.io/project-id/github-django-actions/app:sha-7865423 where 7865423 is the short sha of our commit.
